.contact {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  margin: 100px 0 50px 0;
  box-sizing: border-box;
}
.contact.dark{
    background-color: #fff;
    color: #000;
}

.contact main {
  height: 100%;
  width: 100%;
  display: flex;
  overflow-y: hidden;
  gap: 15px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
}

.contact-info a {
    color: inherit;
    font-size: 13px;
    font-weight: 600;
    text-decoration: underline 2px;
    transition: text-decoration-color 300ms, text-underline-offset 300ms;
    text-underline-offset: 0.1em;
    transition: .3s ease-in-out;
    color: #777;
}
.contact-info a:hover {
    text-underline-offset: 5px;
    color: #fff;
}
.home.active .contact-info a:hover {
    color: #000;
}

.contact .contact-head {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.contact-head h1 {
    text-transform: uppercase;
    font-size: 2em;
    line-height: 100%;
}

.contact-head .contact-info {
    display: inline-flex;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
}

.contact .contact-box {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-box input {
    border: 2px solid #777;
    height: 30px;
    color: #fff;
    border-radius: 7px;
    font-family: inherit;
    box-sizing: border-box;
    padding: 20px 10px;
    transition: all .3s ease-in-out;
    background-color: transparent;
}
.home.active .contact-box input {
    color: #000;
}
.contact-box input::placeholder {
    text-transform: capitalize;
}
.contact-box input:hover, .contact-box input:focus {
    border: 2px solid #fff;
}
.contact-box input:hover::placeholder {
    color: #fff;
}

.home.active .contact-box input:hover, .home.active .contact-box input:focus {
    border: 2px solid #000;
}
.home.active .contact-box input:hover::placeholder {
    color: #000;
}

.contact-box textarea {
    height: 200px;
    border-radius: 7px;
    padding: 15px 10px;
    color: #fff;
    border: 2px solid #777;
    background-color: transparent;
    font-family: inherit;
    transition: all .3s ease-in-out;
    box-sizing: border-box;
}
.home .contact-box textarea {
    color: #000;
}
.contact-box textarea::placeholder {
    text-transform: capitalize;
    transition: .3s ease-in-out;
}
.contact-box textarea:hover, .contact-box textarea:focus {
    border: 2px solid #fff;
}
.contact-box textarea:hover::placeholder {
    color: #fff;
}

.home.active .contact-box textarea:hover, .home.active .contact-box textarea:focus {
    border: 2px solid #000;
}
.home.active .contact-box textarea:hover::placeholder {
    color: #000;
}

.contact-box button {
    width: 50%;
    padding: 15px 5px;
    background-color: transparent;
    color: #fff;
    font-family: inherit;
    border: 2px solid #777;
    border-radius: 5px;
    margin:  0 auto;
    box-sizing: border-box;
    text-transform: uppercase;
    transition: .3s ease-in-out;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
}
.home.active .contact-box button {
    color: #000;
}

.contact-box button:hover {
    background-color: #fff;
    color: #000;
}
.home.active .contact-box button:hover {
    background-color: #000;
    color: #fff;
}

@media (max-width: 600px) {
    .contact .contact-head, .contact .contact-box {
        width: 100%;
    }
    /* .contact .contact-head {
        margin-top: -7vh;
    } */
    .contact-box button {
        width: 100%;
    }
    .contact-head .contact-info {
        display: block;
    }
    .contact-info li:nth-last-child(1) {
        text-align: right;
    }
}

/* @media (max-height: 560px) {
    .contact .contact-head {
    }
    .contact-head h1 {
        font-size: 1.5em;
    }
    .contact-box textarea {
        height: 100px;
    }
} */