.home {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    box-sizing: border-box;
    height: 100vh;
    position: relative;
    color: #fff;
}

.number {
    font-size: 4em;
    border-bottom: 5px solid #fff;
    font-family: "Chakra Petch", sans-serif;
    box-sizing: border-box;
    line-height: 100%;
    position: fixed;
    bottom: 15px;
    left: 15px;
    font-weight: 500;
    width: fit-content;
}

.socials {
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    right: 15px;
    bottom: 15px;
}
.socials li {
    display: inline-flex;
    background-color: #fff;
    border: 2px solid #111;
    padding: 5px;
    border-radius: 10px;
    font-size: 20px;
    align-items: center;
    transition: .3s ease-in-out;
}

.socials li:hover {
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
}

.home main {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 10px 15px;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
}

.home main .content {
    margin: 0 auto;
    width: 80%;
}

.content h1 {
    text-transform: uppercase;
    font-size: 4em;
    line-height: 100%;
    width: 100%;
    font-family: "Young Serif", sans-serif;
}

.content p {
    width: 100%;
    font-size: 14px;
}

@media (max-width: 600px) {
    .content h1 {
        font-size: 3em;
    }
    .content p {
        font-size: 13px;
    }
}

@media  (max-width: 400px) {
    .home main .content {
        width: 100%;
    }
    .content h1 {
        font-size: 2em;
    }
}

@media (max-height: 760px) {
    .home {
        height: 100vh;
        background-color: red;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .socials {
        flex-direction: row;
    }
    .socials li {
        font-size: 15px;
        padding: 3px;
    }
    .number {
        font-size: 2.4em;
    }
}