.home {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    color: #fff;
    background: #111;
    scroll-behavior: smooth;
    transition: all .3s ease-in-out;
}
.home.active {
    background-color: #f2f2f2;
    color: #000;
}

/* .number {
    font-size: 4em;
    border-bottom: 5px solid #fff;
    font-family: "Chakra Petch", sans-serif;
    box-sizing: border-box;
    line-height: 100%;
    position: absolute;
    bottom: 15px;
    color: #fff;
    left: 15px;
    font-weight: 500;
    width: fit-content;
} */

.socials {
    color: #000;
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #11111143;
    border-radius: 10px;
    padding: 3px;
    backdrop-filter: blur(5px);
    position: fixed;
    right: 20px;
    bottom: 15px;
    z-index: 999;
}
.socials.active {
    color: #fff;
}
.socials a {
    color: inherit;
    text-decoration: none;
}
.socials li {
    display: inline-flex;
    background-color: #fff;
    border: 2px solid #111;
    padding: 5px;
    border-radius: 10px;
    font-size: 20px;
    align-items: center;
    transition: .3s ease-in-out;
}
.socials.active li {
    background-color: #000;
    border: 2px solid #fff;
}
.socials li:hover {
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
}
.socials.active li:hover {
    border-color: #2288d6;
    color: #000;
    background-color: #fff;
}

.home .home-page {
    width: 100%;
    display: flex;
    overflow-y: hidden;
    padding: 10px 30px;
    flex-direction: column;
    box-sizing: border-box;
}

.home .home-page .hero {
    margin: 40px 0 30px 0;
    display: grid;
    grid-template-columns: 2fr auto;
    gap: 10px;
}
.hero .txt {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.hero .me {
    height: 300px;
    width: 200px;
    background-image: url(../assets/ade.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    align-self: flex-end;
}

.big {
    text-transform: uppercase;
    font-size: 4em;
    line-height: 100%;
    width: 100%;
    font-family: "Young Serif", sans-serif;
    margin-bottom: 10px;
}

.hero p {
    width: 100%;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-size: 15px;
}

footer {
    border-top: 1px solid #777;
    padding: 40px 30px;
    padding-bottom: 50px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

footer h1 {
    font-size: 2em;
    font-weight: 600;
    line-height: 100%;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    display: flex;
    gap: 7px;
    flex-direction: column;
}
footer h1 span {
    font-size: 12px;
    text-transform: lowercase;
}

footer a {
    font-family: inherit;
    color: #777777;
    text-decoration: underline 0.12em #777;
    font-weight: 400;
    text-underline-offset: 0.1em;
    transition: text-decoration-color 300ms, text-underline-offset 300ms;;
}
footer a:hover {
    color: #f2f2f2;
    text-decoration-color: #f2f2f2;
    text-underline-offset: 0.4em;
}
.home.active footer a:hover {
    color: #2288d6;
    text-decoration-color: #2288d6;
}

@media screen and (max-width: 750px) {
    .home .home-page {
        padding: 10px 15px;
    }
}

@media (max-width: 650px) {
    .home {
        width: 100%;
    }
    .home .home-page {
        padding: 10px 20px;
    }
    .hero p {
        font-size: 15px;
    }
    .home .home-page .hero {
        gap: 30px;
        margin: 0 0 20px 0;
    }
    .hero .txt {
        grid-row: 2;
        height: fit-content;
        grid-column: 1/3;
    }
    .hero .me {
        grid-column: 2/3;
        margin: 20px;
        width: 70vw;
    }
}

@media  (max-width: 500px) {
    .home .home-page {
        padding: 10px;
    }
    .hero h1 {
        font-size: 3.4em;
    }
    .home .home-page .hero {
        width: 100%;
    }
}

@media (max-height: 760px) {
    .socials {
        flex-direction: row;
    }
    .socials li {
        font-size: 15px;
        padding: 3px;
    }
    .number {
        font-size: 2.4em;
    }
}