.home {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    height: 100vh;
    overflow-y: scroll;
    background-color: #f2f2f2;
}

.home .home-nav {
    background-color: #f2f2f2;
    padding: 28px;
}

.home footer {
    font-size: 4em;
    border-bottom: 5px solid #000;
    box-sizing: border-box;
    line-height: 100%;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-weight: 500;
    width: fit-content;
}