.projects {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    margin-top: 70px;
    box-sizing: border-box;
}
.projects a {
    color: inherit;
    text-decoration: inherit;
}
/* .projects main {
    padding: 10px 15px;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 15px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
} */

.projects-intro {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto;
    gap: 10px;
    margin: 30px 0 50px 0;
}
.fancy {
    font-size: 2.3em;
    font-weight: 600;
    text-transform: uppercase;
}
.projects-intro p {
    width: 100%;
    font-family: 'Courier New', Courier, monospace; 
}
.home .projects-intro a {
    align-self: flex-end;
    border: 2px solid #777;
    box-sizing: border-box;
    padding: 5px 10px;
    font-size: 11px;
    height: fit-content;
    background-color: transparent;
    color: inherit;
    border-radius: 10px;
    font-family: inherit;
    font-weight: 500;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.projects-intro a:hover {
    background-color: #2288d6;
    color: #fff;
    border-color: #fff;
}
.home.active .projects-intro a:hover {
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
}
.projects-box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    box-sizing: border-box;
    gap: 20px;
    scrollbar-width: 0;
    justify-content: space-between;
    &::-webkit-scrollbar {
        display: none;
    }
}

.projects-box .project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    border-radius: 0;
    box-sizing: border-box;
    height: fit-content;
}

.project-card .project-img {
    height: 300px;
    background-color: aqua;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    position: relative;
    transition: all .3s ease-in-out;
}
.project-img:hover {
    box-shadow: 3px 4px 4px #2288d6a0;
    z-index: 800;
    transform: translateY(-8px);
  
}
.home.active .project-img:hover {
    box-shadow: 3 4px 4px #000000;
    animation-play-state: paused;
}
@keyframes bounce {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(-10px);
    }
}
.card-one .project-img {
    background-image: url(../assets/foodspring.png);
    background-color: aqua;
    background-position: top;
}
.card-two .project-img {
    background-image: url(../assets/rotate.png);
}
.card-three .project-img {
    background-image: url(../assets/gallery.png);
}
.card-four .project-img {
    background-image: url(../assets/spotify.png);
}
.card-five .project-img {
    background-image: url(../assets/wordcounter.png);
}
.card-six .project-img {
    background-image: url(../assets/journal.png);
}
.card-seven .project-img {
    background-image: url(../assets/jolt.png);
}
.project-img::before {
    content: "";
    position: absolute;
    top: 0;
    border-radius: 5px;
    left: 0;
    height: 100%;
    width: 99.4%;
    background-color: #001a2953;
    border: 2px solid transparent;
    transition: .3s ease-in-out;
}
.project-img:hover::before {
    background-color: #b0a2a200;
}


.project-card .project-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
}
.project-card h1 {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 100%;
    cursor: pointer;
    text-transform: lowercase;
}
.project-card h1 a {
    text-decoration: 2px underline #777;
    text-underline-offset: 1px;
    transition: .3s ease-in-out;
}
.home.active .project-card h1 a:hover {
    color: #2288d6;
    text-decoration-color: #2288d6;
}
.project-card .git {
    text-decoration: 2px underline;
    font-family: 'Courier New', Courier, monospace;
    color: #2288d6a4;
    font-weight: 500;
    text-underline-offset: 1px;
    width: fit-content;
    align-self: flex-end;
    transition: .3s ease-in-out;
    &:hover {
        text-decoration: 2px underline inherit;
        text-underline-offset: 5px;
        color: #2288d6;
    }
}
.project-card h1 a:hover {
    text-decoration: 2px underline inherit;
    text-underline-offset: 7px;
}
.home.active .project-card .git {
    color: #2288d6;
}
.project-card p {
    font-weight: 300;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    color: #b3b3b3;
    text-align: right;
}
.home.active .project-card p {
    color: #333;
}

@media (max-width: 650px) {
    .projects-box {
        grid-template-columns: repeat(2, 1fr);
    }
    .projects-intro {
        display: flex;
        flex-direction: column;
    }
    .projects-intro p {
        width: 100%;
    }
    .project-card .project-img {
        height: 300px;
        background-position: top;
    }
    .card-one .project-img {
        background-image: url(../assets/foodsprng.png);
    }
    .card-two .project-img {
        background-image: url(../assets/rotate-mob.png);
    }
    .card-three .project-img {
        background-image: url(../assets/gallery-mob.png);
    }
    .card-four .project-img {
        background-image: url(../assets/spotify-mob.png);
    }
    .card-five .project-img {
        background-image: url(../assets/wordcounter-mob.png);
    }
    .card-six .project-img {
        background-image: url(../assets/journal-mob.png);
    }
}

@media (max-width: 500px) {
    .projects-box {
        grid-template-columns: 1fr;
        gap: 50px;
    }
}