.projects {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    box-sizing: border-box;
    height: 100vh;
    overflow-y: hidden;
    position: relative;
    color: #fff;
}
.projects a {
    color: inherit;
    text-decoration: inherit;
}
.projects main {
    padding: 10px 15px;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    display: flex;
    gap: 15px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
}
.projects-box {
    width: 95%;
    height: 70%;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: 0;
    justify-content: space-between;
    &::-webkit-scrollbar {
        display: none;
    }
}

.projects-box .project-card {
    min-width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 20px;
    box-sizing: border-box;
}
.project-card .project-img {
    filter: grayscale(1);
    cursor: pointer;
    box-sizing: border-box;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0 0 ;
    overflow: hidden;
    border: 2px solid #000;
    height: 500px;
    width: 100%;
    transition: .3s ease-in-out;
}
.project-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project-img:hover {
    filter: grayscale(0);
}
.project-card .project-info {
    border-radius: 0 0 20px 20px;
    box-sizing: border-box;
    padding: 10px;
}
.project-card h1 {
    font-size: 1.8em;
    color: #f2f2f2;
    cursor: pointer;
    text-transform: lowercase;
}
.project-card h1 a {
    text-decoration: 2px underline #777;
    color: #fff;
    text-underline-offset: 1px;
    transition: .3s ease-in-out;
}
.project-card h1 a:hover {
    text-decoration: 2px underline #f2f2f2;
    text-underline-offset: 7px;
}
.project-card p {
    font-weight: 300;
    font-size: 14px;
    color: #c4c4c4;
}

@media (max-width: 500px) {
    .projects-box {
        margin-top: -5vh;
        width: 100%;
    }
    .projects-box .project-card {
        min-width: 85vw;
    }
}